server {
    listen 80;
    server_name {{groups.digitalocean_root.0}};

    location = /favicon.ico { access_log off; log_not_found off; }
    location /static/ {
        root /home/{{user}}/{{name}};
    }

    location / {
        include proxy_params;
        proxy_pass http://unix:/home/{{user}}/{{name}}/{{name}}.sock;
    }
}
